PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/notifications_db
AFFORDMED_BASE_URL=http://20.207.122.201/evaluation-service
AFFORDMED_EMAIL=your_college_email
AFFORDMED_NAME=Your Name
AFFORDMED_ROLL_NO=BL.EN.U4CSE23010
AFFORDMED_ACCESS_CODE=your_access_code
AFFORDMED_CLIENT_ID=your_client_id
AFFORDMED_CLIENT_SECRET=your_client_secret
